* {
    cursor: url(../images/cur116.cur), progress;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: no-drag;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100vh;
    background: linear-gradient(45deg, #393222, #363821);
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}

.vl {
    border-left: 1px solid white;
    height: 400px;
}

.paymentScreen {
    display: flex;
    flex-direction: column;
}

.paymentScreen .top {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.paymentScreen .top .logo {
    width: 240px;
    height: 60px;
}

.paymentScreen .top .info span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.paymentScreen .top .info p {
    font-size: 15px;
    font-weight: 500;
}

.label_text {
    margin-top: 2rem;
    font-size: 15px;
    color: rgb(38, 189, 0);
    font-weight: 600;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.products .product-item {
    flex: 0 0 auto;
    width: calc((100% - 4rem) / 5);
    position: relative;
    height: auto;
    background: linear-gradient(45deg, #0c0e0c, #21321e);
    margin-bottom: 6px;
    box-shadow: #00000030 0 2px 10px;
    border-radius: 8px;
    border: 2px solid #424031;
    box-sizing: border-box;
}

.products .product-item .pimg-base {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1.8;
    transition-property: box-shadow, background-color, color, border-color, transform, opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.products .product-item .pimg-base .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
}

.products .product-item .product-detail {
    padding: 8px;
}

.products .product-item .product-detail .product-name {
    font-weight: 600;
    font-size: 14px;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    color: #fff;
    height: 35px;
    margin-bottom: 5px;
    overflow: hidden;
    font-family: system-ui, 'Open Sans';
    text-align: center;
}

.products .product-item .product-detail .sales-price {
    font-family: system-ui, 'Open Sans';
}

.btn_buy {
    margin: 0;
    padding: 10px 0;
    display: block;
    height: auto;
    padding: 10px 5px;
    padding-top: 8px;
    width: 100%;
    height: 33px;
    background: url(../images/btn_M.png) no-repeat center 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2), 0 4px 4px 0 rgba(0, 0, 0, .2);
    color: #bd8671;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    outline: 0;
    border: 0;
    transition: all 0.15s ease-in-out;
}

.btn_buy:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0 4px 7px #412822;
}

.btn_buy:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0 4px 7px #000000c2;
}

.btn_buy:before {
    content: '';
    width: 2px;
    height: 32px;
    background: url(../images/btn_M.png) left 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.btn_buy:after {
    content: '';
    width: 3px;
    height: 32px;
    background: url(../images/btn_M.png) right 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.btn_buy span {
    color: #9f7d6f;
    font-family: system-ui, Verdana;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 0.5px;
}

.logo {
    width: 200px;
    margin: 1rem auto;
}

.button {
    width: 100%;
    position: relative;
    padding: 12px 13px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at bottom, rgb(37 45 11) 0%, rgb(14 17 4) 45%);
    color: rgb(255, 255, 255, 0.66);
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button::before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 15%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button:hover {
    color: rgb(255, 255, 255, 1);
}

.button:hover::before {
    opacity: 1;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.loading h5 {
    margin: 0;
    font-size: 30px;
}

#svg-global {
    zoom: 1.2;
    overflow: visible;
}

@keyframes fade-particles {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(-40px);
        opacity: 0;
    }
}

#particles {
    animation: fade-particles 5s infinite alternate;
}

.particle {
    animation: floatUp linear infinite;
}

.p1 {
    animation-duration: 2.2s;
    animation-delay: 0s;
}

.p2 {
    animation-duration: 2.5s;
    animation-delay: 0.3s;
}

.p3 {
    animation-duration: 2s;
    animation-delay: 0.6s;
}

.p4 {
    animation-duration: 2.8s;
    animation-delay: 0.2s;
}

.p5 {
    animation-duration: 2.3s;
    animation-delay: 0.4s;
}

.p6 {
    animation-duration: 3s;
    animation-delay: 0.1s;
}

.p7 {
    animation-duration: 2.1s;
    animation-delay: 0.5s;
}

.p8 {
    animation-duration: 2.6s;
    animation-delay: 0.2s;
}

.p9 {
    animation-duration: 2.4s;
    animation-delay: 0.3s;
}

@keyframes bounce-lines {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

#line-v1,
#line-v2,
#node-server,
#panel-rigth,
#reflectores,
#particles {
    animation: bounce-lines 3s ease-in-out infinite alternate;
}

#line-v2 {
    animation-delay: 0.2s;
}

#node-server,
#panel-rigth,
#reflectores,
#particles {
    animation-delay: 0.4s;
}